.Rproj.user
.RData
.Rhistory
.gitignore
.Ruserdata


# Added by cargo

/target
resources
eggtom_lncRNA.Rproj
*.RData
analysis/01_preprocessing.Rmd
analysis/02_classify_transcripts.Rmd

data/00_raw_reads
data/01_preprocessing
data/04_characterization
data/03_filtering
data/PanSol
figures