.Rproj.user
.RData
.Rhistory
.gitignore
.Ruserdata


# Added by cargo

/target
resources
eggtom_lncRNA.Rproj
genespace.RData
WGCNA_wip.RData

data/00_raw_reads
data/01_preprocessing
data/04_characterization
data/03_filtering
data/PanSol
figures